gdown
opencv-python
pyrender
pytorch-lightning
scikit-image
smplx==0.1.28
yacs
timm
einops
xtcocotools
pandas
hydra-core
hydra-submitit-launcher
hydra-colorlog
pyrootutils
rich
webdataset
mmcv==1.3.9
